<form class="" action="/guitars/<%= @guitar.id %>" method="post">

  <label for="manufacturer-select">Select Manufacturer: </label>
  <select name="manufacturer_id" id="manufacturer-select">
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>

  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= @guitar.name %>">

  <label for="description">Last Name: </label>
  <input type="text" name="description" id="description" value="<%= @guitar.description %>">

  <input class="button" type="submit" value="Edit">
</form>
