<h1><%= @guitar.manufacturer.name %> <%= @guitar.name %></h1>

<p>Description: <%= @guitar.description %></p>
<p>In stock: <%= @guitar.stock_quantity %></p>
<p>Wholesale cost: <%= @guitar.buying_cost %></p>
<p>Price: <%= @guitar.selling_price %></p>
<!-- <p>Manufacturer: </p> -->
