<h1>Current takings: £<%= sprintf("%.2f", @shop.till) %></h1>

<form class="" action="/guitars/new" method="get">
  <input class="button" type="submit" value="Add New">
</form>

<form class="" action="/" method="get">
  <label for="manufacturer-select">Choose Manufacturer: </label>
  <select name="manufacturer_id" id="manufacturer-select">
    <option value=""> </option>
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
  <input class="button" type="submit" value="Filter">
  <!-- tried to do with a button but couldn't figure out how... -->
  <!-- <form class="" action="/" method="get">
  <input class="button" type="submit" value="Show All">
</form> -->
<a href="/">Show All</a>
</form>

<form class="" action="/" method="get">
  <label for="type-select">Choose Type: </label>
  <select name="type" id="type-select">
    <option value=""> </option>
    <% @guitar_types.each do |type| %>
      <option value="<%= type %>"><%= type %></option>
    <% end %>
  </select>
  <input class="button" type="submit" value="Filter">
  <!-- tried to do with a button but couldn't figure out how... -->
  <!-- <form class="" action="/" method="get">
  <input class="button" type="submit" value="Show All">
</form> -->
<a href="/">Show All</a>
</form>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Type</th>
    <th></th>
    <th>Description</th>
    <th></th>
    <th>In stock</th>
    <th></th>
    <th>Wholesale cost</th>
    <th></th>
    <th>Price</th>
    <th></th>
    <th>Markup</th>
  </tr>
  <tr>
    <% @guitars.each do |guitar| %>
    <td><%= guitar.manufacturer.name %> <%= guitar.name %></td>
    <td>|</td>
    <td><%= guitar.type %></td>
    <td>|</td>
    <td><%= guitar.description %></td>
    <td>|</td>
    <% if guitar.stock_quantity == 0 %><td><%= guitar.stock_quantity %> - OUT OF STOCK!!</td>
    <% elsif guitar.stock_quantity < 3 %><td><%= guitar.stock_quantity %> - LOW STOCK!!</td>
    <% else %><td><%= guitar.stock_quantity %></td>
    <% end %>
    <td>|</td>
    <td>£<%= sprintf("%.2f", guitar.buying_cost) %></td>
    <td>|</td>
    <td>£<%= sprintf("%.2f", guitar.selling_price) %></td>
    <td>|</td>
    <!-- use to keep a total of shops takings? -->
    <td>£<%= sprintf("%.2f", guitar.selling_price - guitar.buying_cost) %></td>
    <td>|</td>
    <td>
      <!-- try doing the way that edit works, pass a guitar id in to just update that guitar. -->
      <form class="" action="/guitars/<%= guitar.id %>/sell" method="get">
        <!-- would like this button to remove stock and add to a shop takings total... -->
        <input class="button" type="submit" value="Sell">
      </form>
    </td>
    <td>
      <form class="" action="/guitars/<%= guitar.id %>/order" method="get">
        <input <% if guitar.stock_quantity < 3 %> class="button--low-stock" <% else %> class="button" <% end %> type="submit" value="Order">
      </form>
    </td>
    <td>
      <form class="" action="/<%= guitar.id %>/edit" method="get">
        <input class="button" type="submit" value="Edit">
      </form>
    </td>
  </tr>
  <% end %>

</table>
